/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color, #000028);
  font-family: var(--main-font, sans-serif);
  gap: 40px;
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr 192px 1fr;
  min-block-size: 668px;
  padding: var(--frame-padding);
}

.decorated-zone {

}

.header__theme-menu {
  display: grid;
  justify-content: flex-end;
  align-items: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-item {
  

}

.header__theme-menu-button {

  width: 70px;
  height: 26px;
  outline: 1px solid #FF0070;


  border: none;
  /* padding: 1px 13px; */
  text-transform: lowercase;
  font-family: var(--main-font);
  font-size: var(--text-font-size, 18px);
  color: var(--accent-color);
  background-color: transparent;
}

.header__theme-menu-button_type_light {

}

.header__theme-menu-button_type_dark {

}

.header__theme-menu-button_active {

}

.header__theme-menu-button_type_auto {

}

.big-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  color: #DB00FF;
}

.header__title {
  align-self: center;
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (width > 768px) {
  .big-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .header__theme-menu {
    justify-content: center;
    align-items: start;
  }
  .header__theme-menu-list {
    display: flex;
  }
}

.header__sub-title {
  max-width: clamp(355px, 17.2761rem + 20.9553vw, 50%);
  justify-self: flex-end;
  align-self: center;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: var(--text-font-size, 18px);
  line-height: 23px;
  color: var(--bg-color);
}

.title-decor {
  background-color: var(--accent-color);

}

.content {
  display: grid;
  gap: 50px;
  padding-inline: var(--frame-padding);
}

.content__section {
  display: grid;
  gap: 20px;
  font-size: var(--text-font-size, 18px);
  line-height: 23px;
}

.content__section_title-block {

}

.section__title {
  font-family: var(--main-font);
  font-size: var(--text-font-size, 18px);
  color: var(--accent-color);
}

.section__paragraph-block {
  display: grid;
  gap: 10px;
}

.content__title {
  color: var(--bg-color);
}

.content__paragraph {
  color: var(--text-color);
}

.section__list {
  display: grid;
  gap: 20px;
}

.section__item_title {
  font-weight: 400;
  font-size: var(--text-font-size, 18px);
}

.content__picture-block {
  display: grid;
  gap: 10px;
}

.content__picture {

}

.content__picture img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  min-block-size: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--frame-padding);
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}